@model WebApplication1.Models.Bill
@{
    ViewBag.Title = "SmartBuffet; จัดการโต๊ะ";
}
<html lang="en">
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">Buffet</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @Html.ViewBag.EmFN @Html.ViewBag.EmLN ( @Html.ViewBag.EmPos ) <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Logout", "Admin")"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="@Url.Action("Index", "Admin")"><i class="glyphicon glyphicon-cutlery"></i> จัดการโต๊ะอาหาร</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Stock", "Admin")"><i class="glyphicon glyphicon-shopping-cart"></i> จัดการสินค้า</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Order", "Admin")"><i class="glyphicon glyphicon-list-alt"></i> รายการที่สั่ง</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ManageEmployee", "Admin")"><i class="glyphicon glyphicon-list-alt"></i> จัดการพนักงาน</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <i class="glyphicon glyphicon-cutlery"></i>
                            จัดการโต๊ะอาหาร
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="@Url.Action("AddTable", "Admin")" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> เพิ่มโต๊ะ</a>
                            </div>
                        </h1>
                    </div>
                </div>
                <style>
                    table, th, td {
                        border: 1px solid white;
                        color: #fbffe7;
                    }

                    td {
                        width: 150px;
                    }

                    tr {
                        height: 150px;
                    }
                </style>
                <div class="row">
                    <div class="col-lg-12">
                    @if (ViewBag.TabList != null)
                    {
                        int i = 0;
                        <table>
                            <tr align="center">
                                @foreach (var item in ViewBag.TabList)
                                {

                                    if (item.Available == true)
                                    {
                                        //Green
                                        <td style="background-color: #4cae4c;"><a style="color:white" href="@Url.Action("ManageTable/"+ @Html.ViewBag.TabList[i].id, "Admin")">โต๊ะ @Html.ViewBag.TabList[i].TableID</a><br><br><br><a href="@Url.Action("deleteTable/" + @Html.ViewBag.TabList[i].id, "Admin")" type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> ลบโต๊ะ</a></td>
									}
									else
									{
										//RED
                                        <td style="background-color: #c9302c;">โต๊ะ @Html.ViewBag.TabList[i].TableID<br><br><br>
										<a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_@item.TableID">ดูข้อมูล</a>
												<div class="modal fade" id="myModal_@item.TableID" role="dialog">
													<div class="modal-dialog">
														<!-- Modal content-->
														<div class="modal-content" style="color:black;">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<h4 class="modal-title">ข้อมูลโต๊ะ @item.TableID</h4>
																	</div>
																	<div class="modal-body">
																		<p>
																			Username : @Html.ViewBag.Bill4Show[i].BillID <br />
																			Password : @Html.ViewBag.Bill4Show[i].BillPassword
																		</p>
																	</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
															</div>
														</div>
													</div>
												</div>
												<br />
												<a href="@Url.Action("CheckBill/"+ @Html.ViewBag.TabList[i].id, "Admin")" type="button" class="btn btn-default">เช็คบิล</a>
											</td>
									}
									i++;
								}
                            </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

